<tr id="<%= dom_id(showtime) %>">
  <td><%= showtime.cinema.theater.name %></td>
  <td><%= showtime.cinema.name %></td>
  <td><%= showtime.started_at.strftime("%Y-%m-%d %H:%M") %></td>
  <td><%= showtime.end_at.strftime("%Y-%m-%d %H:%M") %></td>
  <td><%= link_to "刪除", admin_showtime_path(showtime), method: "delete", data: {confirm: "確定刪除場次？", remote: true} %></td>
</tr>
