<div class="container pay">
  <div class="d-flex position-relative">
    <div class="col-12 col-md-9 col-lg-8 col-xl-6 position-absolute img d-none d-md-block">
      <% if @movie.movie_poster.attached? %>
        <%= image_tag @movie.movie_poster, class: "m-auto w-50  order-img" %>
      <%end%>
    </div>
    <div class="order col-12 col-md-9 col-lg-8 col-xl-6 bg-darkblue rounded-3 shadow mx-auto my-50px">
      <div class="order-title p-3 p-md-5 text-center">
        <%= order_status(@result.status) %>
      </div>
      <div class="order-list mx-sm-5 mx-3 fs-4 d-flex justify-content-between">
        <p class="fw-semibold">訂購時間</p>
        <p><%= @order.created_at.strftime("%Y/%m/%d %I:%M") %></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 fs-4 d-flex justify-content-between">
        <p class="fw-semibold">訂單序號</p>
        <p><%= @order.serial %></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 fs-4 d-flex justify-content-between">
        <p class="fw-semibold">電影名稱</p>
        <p><%= @order.movie_name %></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 fs-4 d-flex justify-content-between">
        <p class="fw-semibold">影城：</p>
        <p><%= @order.theater_name %></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 fs-4 d-flex justify-content-between">
        <p class="fw-semibold">影廳：</p>
        <p><%= @order.cinema_name %></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 fs-4 d-flex justify-content-between">
        <p class="fw-semibold">座位：</p>
        <p><%= show_tickets_seat(@tickets) %></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 pb-3 fs-4 d-flex justify-content-between border-bottom">
        <p class="fw-semibold">場次：</p>
        <p><%= @order.started_at.strftime("%Y/%m/%d %I:%M")%></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 pt-3 fs-4 d-flex justify-content-between align-items-baseline">
        <p class="fw-semibold">總計金額:</p>
        <p class="fs-1"><%= @order.amount %></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 py-3 fs-4 d-flex justify-content-between">
        <%= link_to "返回首頁", root_path, class: "cancel text-white rounded-3" %>
        <%= link_to "我的帳單", orders_path, class: "cancel text-white rounded-3" %>
      </div>
    </div>
  </div>
</div>
